@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Gamja+Flower|Playfair+Display|Slabo+27px|Yanone+Kaffeesatz");
.background {
    background: rgba(0, 0, 0, 0.61);
}
input {
  border: 2px solid #ccc;
  border-radius: 15px;
  text-align: center;
}

input:focus {
  outline: none !important;
}

section {
  padding: 50px 0;
}

hr {
  border-color: #225378;
  border-width: 3px;
  max-width: 50px;
}

.section-heading {
  text-transform: uppercase;
  margin-top: 0;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

.btn-primary {
  color: white;
  background-color: #225378;
  border-color: #225378;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:hover {
  color: white;
  background-color: #1c4564;
  border-color: #1a405c;
}

.btn-primary:focus {
  color: white;
  background-color: #1c4564;
  border-color: #1a405c;
}

.btn-default {
  color: #222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.bgCover {
  background-image: url('../assets/img/s1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgCover h2,
.bgCover p {
  color: #fff;
}

.section-heading {
  text-transform: uppercase;
  margin-top: 0;
}

hr.light {
  border-color: white;
}

.row-of-images {
  width: 100%;
  text-align: center;
}

.row-of-images img {
  max-width: 20%;
  margin-right: 4%;
}

.footer {
  background: #000;
}

.footer h1 {
  color: #fff;
}

.footer p {
  color: #777;
}

.footer p i {
  color: #fff;
}

.footer .icon-list span i {
  color: #fff;
}

.icon-list span i {
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 15px;
  border-radius: 50%;
  background: #777;
  color: #fff;
}

.icon-list span i:hover {
  color: #225378;
  background: #fff;
  transition: 1s all;
}

.footerBgCover {
  background-color: #464a4c;
  overflow: hidden;
  padding: 20px 0 20px 0;
}

.cCopyright p {
  color: #ffffff;
}

.cCopyright .cFaqs span:last-child:after {
  display: none;
}

.cCopyright .cFaqs span:after {
  content: "|";
  color: #fff;
}

.cCopyright .cFaqs a {
  color: #ffffff;
  margin: 10px;
  text-transform: capitalize;
}

.cCopyright .cFaqs a:hover {
  color: #2581DC;
  transition: 1s all;
}


.cSubscribe span input[type="submit"] {
  background: #225378;
  color: #000;
  border: none;
  font-size: 18px;
}