.topnav {
    /* overflow: hidden; this was first one*/
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 25%;
}

/* Style the links inside the navigation bar */

.topnav div {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav i, .topnav span{
    color: #fff
}
.topnav button i{
    color: #000;
}
.topnav i:hover{
    color: #225378;
    transition: 1s all;
}
/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}
.topnav span button{
    background: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 40px;
}

.headerNavigation {
    /* position: relative; // this was first one*/
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}


.brand {
    position: absolute;
    float: left;
    text-transform: uppercase;
    top: -40px;
}

.brand a,
.brand a:visited {
    color: #000;
    text-decoration: none;
}

.brand a img {
    width: 200px;
    height: 135px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    color: #f0ad4e;
    transition: 1s color;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: attr(data-background-icon);
    font-family: "FontAwesome";
    color: #fff;
}
nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #0275d8;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

.nav {
    position: -webkit-sticky;
}
span.nav-link{
    border-radius: 50%;
    background: #fff !important;
}
span.nav-link.active{
    border-radius: 50%;
    background: #225378 !important;
    color: #fff !important;
    transition: 1s all;
}